*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clientSection{
    height: 703px;
    width: 100vw;
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.clientSection .content{
  height: 104px;
  width: 800px;
  padding: 10px 32px;
  /* border: solid orangered; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 250px;
  text-align: center;
  z-index: 1;
 
  
}

.clientSection .content .heading{
    width: 800px;
    height: 40px;
    font-weight: 700;
    font-size: 32px;

}

.clientSection .background{
      height: 407px;
      width: 100vw;
      position: relative;
      display: flex;

}

.background img{
    height: 100%;
    width: 100%;

}

.background button{
    height: 32px;
    width: 108px;
    border-radius: 15px;
    background-color: white;
    color:rgba(28, 70, 112, 1);
    position: absolute;
    top: 400px;
    right: 700px;

}
.background img{
    height: 100px;
    width: 150px;
    /* border: 1px solid red; */
}
.fee{
    margin-top: 20px;
    height: 154px;
    width: 100vw;
    color: white;
    background-color: rgba(255, 162, 41, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fee div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fee #icon1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(230, 61, 61);
}

.fee #icon2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(21, 207, 21);
}

.fee #icon3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(209, 209, 53);
}
.fee #icon4{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: grey;
}

.background .icon1 img{
    position: relative;
    left: 10px;
    animation: rotate 5s linear  infinite;
}

.background .icon5 img{
    position: relative;
    left: 50px;
    top: 200px;
    animation: rotate 5s linear  infinite;
}
.background .icon6 img{
    position: relative;
    top: 70px;
    right: 50px;
    animation: rotate 5s linear  infinite;
}
.background .icon7 img{
    position: relative;
    left: 10px;
    top: 100px;
    animation: rotate1 5s linear  infinite;
}
.background .icon8 img{
    position: relative;
    top: 200px;
    left: 10px;
    animation: rotate 5s linear  infinite;
}
.background .icon9 img{
    position: relative;
    right: 10px;
    top: 210px;
    animation: rotate1 5s linear  infinite;
}
.background .icon10 img{
    position: relative;
    right: 200px;
    animation: rotate 5s linear  infinite;
}
.background .icon11 img{
    position: relative;
    right: 900px;
    animation: rotate1 5s linear  infinite;
}
.background .icon12 img{
    position: relative;
    right: 500px;
    animation: rotate 5s linear  infinite;
}
.background .icon4 img{
    position: relative;
    top: 240px;
    left: 10px;
    animation: rotate1 5s linear  infinite;
}

.background .icon3 img{
    position: relative;
    top: 50px;
    left: 10px;

    animation: rotate 5s linear  infinite;
}

.background .icon2 img{
    position: relative;
    top: 200px ;
    left: 20px;
    animation: rotate1 5s linear  infinite;
}

@keyframes rotate{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(50px,70px);
    }
    100%{
        transform: translate(20px,-40px);
    }
   
}

@keyframes rotate1{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(100px,70px);
    }
    100%{
        transform: translate(20px,-40px);
    }
}